app = "bauhaus-backend"
primary_region = "lhr"

[build]

[env]
  PORT = "8080"
  NODE_ENV = "production"
  BACKEND_MODE = "standalone"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
